/* PROFILE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(".../assets/img/assets1.jpg") no-repeat center fixed;
    background-size: cover;
}

.container{
    position: relative;
    max-width: 1200px;
    background: transparent;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    margin: 40px auto;
    padding: 20px;
}

.profile-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 15px;
}

.profile-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(241, 175, 177, 0.8);
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid #f1afb1;
}

.social-links a {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #6c757d;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: semi-bold;
}

.social-links a:hover {
    color: #f1afb1;
}

.bg-light-gray {
    background-color: #f8f9fa;
}
 
 /* PROFILE */